name: Lint PNG exports from excalidraw
on:
  push:
    branches:
      - "main"
    paths:
      - '*.excalidraw.png'
      - '.github/workflows/png-lint.yml'
  pull_request:
    branches:
      - "main"
    paths:
      - '*.excalidraw.png'
      - '.github/workflows/png-lint.yml'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: "Run png-lint.sh to check excalidraw exported images"
        run: |
          tools/png-lint.sh
